<div class="container-fluid">
	
	<div align="center">
		<pp-dashboard data="dataForD3"></pp-dashboard>
	</div>
	
	<!-- 
	<div id='dashboard' align="center">
	</div>
	
	<button type="button" class="btn btn-success" ng-click="dashboard('#dashboard', dataForD3)">create</button>
	<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Region</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="region in dataForD3">
					<td>{{region.Region}}</td>
				</tr>
			</tbody>
		</table>
	 -->
</div>